/*    ABHILASH GUPTA     */


@media screen and (max-width: 1200px){

.img-gallery
{
height:250px;
}

.imagecaption
{
font-size:14px;
}

.headernamediv
{
font-size:35px;
}

.footertextdiv
{
font-size:17px;
}

.footertextsmall,.footertextsmall a
{
font-size:13px;
}


}


@media screen and (max-width: 800px)
{

.img-gallery
{
height:150px;
}

.imagecaption
{
font-size:12px;
}

.fixedfooterclass
{
line-height:10px;
}

.footer
{
font-size:9px;
margin-bottom:30px;
margin-top:5px;
}

.footertextsmall,.footertextsmall a
{
font-size:7px;
}

.maincontenttopic
{
font-size:15px;
}

.maincontentcontent
{
font-size:10px;
}

.navlistdiv
{
font-size:11px;
}

.slideshow
{
height:170px;
}

.headernamediv
{
font-size:20px;
}

.headerimg
{
height:60px;
}

.headerlogo
{
height:60px;
}

.topdisplaydiv
{
font-size:13px;
}

.footerheading
{
font-size:9px;
}

.footercontent
{
font-size:7px;
}

.dropdowncom
{
font-size:9px;
}

}


@media screen and (max-width: 600px)
{
.img-gallery
{
height:100px;
}

.imagecaption
{
font-size:8px;
}

.footer
{
font-size:8px;
margin-bottom:30px;
margin-top:5px;
}

.fixedfooterclass
{
line-height:10px;
}

.footertextsmall,.footertextsmall a
{
font-size:6px;
}

.footerheading
{
font-size:8px;
}

.footercontent
{
font-size:6px;
}

.dropdowncom
{
font-size:8px;
}


.maincontenttopic
{
font-size:12px;
}

.maincontentcontent
{
font-size:7px;
}

.topdisplaydiv
{
font-size:10px;
}

.headernamediv
{
font-size:15px;
}

.headerimg
{
height:40px;
}

.headerlogo
{
height:40px;
}

.navlistdiv
{
font-size:8px;
}

.footertextdiv
{
font-size:10px;
}

.slideshow
{
height:130px;
}


.rowcontents
{
margin-bottom:0;
margin-top:0;
height:3px;
}

.maincontentdiv
{
line-height:15px;
}

}

@media screen and (max-width:430px)
{

.imagecaption
{
font-size:6px;
}

.footer
{
font-size:6px;
margin-bottom:50px;
margin-top:5px;
}

.img-gallery
{
height:70px;
}

.footertextsmall,.footertextsmall a
{
font-size:5px;
}

.footerheading
{
font-size:7px;
}

.fixedfooterclass
{
line-height:8px;
}

.footercontent
{
font-size:6px;
}

.dropdowncom
{
font-size:6px;
}


.maincontenttopic
{
font-size:9px;
}

.maincontentcontent
{
font-size:7px;
}

.maincontentdiv
{
line-height:13px;
}

.topdisplaydiv
{
font-size:6px;
}

.headernamediv
{
font-size:10px;
}

.slideshow
{
height:80px;
}

.navlistdiv
{
font-size:5.8px;
}

.footertextdiv
{
font-size:8px;
}

.headerimg
{
height:30px;
}

.headerlogo
{
height:30px;
}

.rowcontents
{
margin-bottom:0;
margin-top:0;
height:2px;
}

.comimagesmain
{
width:60%;
margin-left:20%;
height:100%;
}

}